
 {  
      box-sizing: border-box;

}
body {
   background-color: wheat;
} 

h1 {
   text-align: center; 
   font-size: 27px; 
   margin-bottom: 30px;
   font-family: sans-serif;
   color: darkslateblue;
}


.p {
   padding: 15px 5px 0px 5px;
   font-family: sans-serif;
   font-size: 15px;
   position: relative;
   text-align: center;
   

}          

.section  {
   margin: 20px;
   padding: 1px;
   text-align: justify;
   border: 3px solid black;
   background-color: skyblue;
   margin-right: 20px;
   margin-top: 20px;
   width: 400px;
   height: fit-content;
   } 

span {
   font-size: 20px;
   width: 150px;
   border: 3px solid black;
   font-weight: bold;
   text-align: center;
  float: right; top; 0; right; 0; margin: 0;
  position: relative;

}

#pp1 { 
      background-color: rgb(250, 150, 150); 
      color: rgb(0, 0, 0);
   }
#pp2 {
   background-color: rgb(250, 0, 0);
   color: rgb(250, 250, 250);
}

#pp3 {
   background-color: rgb(200, 200, 100);
   color: rgb(200, 200, 100);
}
.row {
   width: 100%s
    }

   /*Small Devices*/
   
   @media (max-width: 767px) { 
        .col-xs-12 {
         float:left;
         width: 100%;
   
       }
   }


   /*Medium Devices*/
   
   @media (min-width: 768px) and (max-width: 991px) { 
       .col-md-4
      {
         float:left;
         width:100%;
      
      }
   }

   /*Large Devices*/
   @media (min-width: 992px) { 
       .col-lg-6
      { 
         float:left;
         width:100%;
         height: auto;
   }
}
  

